

button.key-button {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;

    width: 50px;
    height: 50px;

    border-top: solid 5px #0003;
    border-right: solid 5px #0006;
    border-left: solid 5px #0003;
    border-bottom: solid 5px #0006;
    background: #FFF;
    color: black;

    font-size: 18px;
    font-weight: bold;;
    text-shadow: 0 0 2px #0008;

    box-shadow: inset 0 0 20px 1px #0002;

    outline: none;


    &.large {
        width: 150px;
        height: 150px;
    }

    &.wide {
        width: 200px;
        height: 50px;
    }

    &.oneline {
        width: auto;
        padding: 0 10px;
        height: 50px;
    }

    &:hover, &.hover {
        background: #EEF;
    }

    &:active, &.active {
        
        /* border-top: solid 5px #0005;
        border-right: solid 5px #0008;
        border-left: solid 5px #0005;
        border-bottom: solid 5px #0008; */
        background: #AAA;
        transform: scale(0.9);
    }

    &:disabled, &.disabled {
        background: #888;
        opacity: 0.25;
        
    }
}