div.grid-view {
    --grid-size: 50px;

    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    transition: all 0.3s ease;

    div.grid-row {
        position: relative;
        display: flex;
        flex-wrap: nowrap;
        justify-content: center;
        align-items: center;
        flex-direction: row;

        &.last-row {


            &:after {
                content: "";
                position: absolute;
                top: 1px;
                left: 20px;
                right: 0;
                height: var(--grid-size);
                z-index: 2;
                background: url("../../assets/finishline.png");

                background-size: var(--grid-size) var(--grid-size);
                background-repeat: repeat-x;
                opacity: 0.25;

            }

        }

        &.empty {
            height: var(--grid-size);
            background: #444;
            width: 100%;
        }

        div.row-index {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 20px;
            height: 30px;

            font-size: 10px;
            font-weight: bold;
            color: white;
        }

        div.grid-cell {
            position: relative;
            display: flex;
            justify-content: center;
            align-items: center;
            width: var(--grid-size);
            height: var(--grid-size);
            border-width: 2px;
            border-style: solid;
            border-top-color: #0005;
            border-left-color: #0008;
            border-right-color: #000A;
            border-bottom-color: #000D;

            font-size: 12px;
            font-weight: bold;
            color: black;

            span.coords {
                position: absolute;
                left: 1px;
                bottom: 1px;
                font-size: 9px;
                font-weight: bold;
                color: #0008;
            }

            &.empty {
                background-color: #080;

                img {
                    position: absolute;
                    width: 120%;
                    height: 120%;
                    object-fit: contain;
                    opacity: 0.1;
                }
            }

            &.wall {
                background-color: #888;
            }

            &.water {
                background-color: #00f;
            }



        }
    }
}